* {

  font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', monospace;
}

body {
  background-color: #F5A503;
  font-size: 1.3em;
}

header {
  color: #F2385A;
  font-size: 1.7em;
  width: 50%;
  float: left;
  margin: 0 0 1em 1em;
  border-radius: 25px;
  position: relative;
}

header > img {
  border-radius: 25px;
  position: relative;
  z-index: -1;
}

table {
  background-color: #4AD9D9;
  font-size: 1em;
  border: 10px solid black;
  border-radius: 25px;
  width:1000px;
  position: relative;

}

p {
  font-size: 1.1em;
  position: relative;
  z-index: -1;
}

form > input {
  font-size: 0.9em;
}

form {
 background-color: #4AD9D9;
  font-size: .8em;
  border: 10px solid black;
  width: 1000px;
  text-align: center;
  position: relative;
}

button {
  color: #F2385A;
  font-size: 1.2em;
  border-radius: 25px;
  border: 5px solid black;
  position: absolute;
}

div > img {
  position: fixed;
  width: 500px;
  float: right;
  margin: 0 0 1em 1em;
  border-radius: 25px;
  z-index: -1;
}

